.row {
	border: 1px solid #000;
	@include clearfix;
}

@mixin get-column($index,$class) {
	.row-col-#{$class}-#{$index} {
      width: percentage(($index / $grid-num));
      float: left;
      border: 1px solid red;
    }
}

@mixin create-columns($class){
   @for $i from 0 through $grid-num {
    @include get-column($i, $class);
   }
}

@media (min-width: $bp-mobile){
	@include create-columns(mb);
}
@media (min-width: $bp-tablet){
	@include create-columns(tb);
}
@media(min-width: $bp-desktop){
	@include create-columns(ds);
}