@font-face {
	font-family: 'ETmodules';
	src:url('fonts/ETmodules_v2.eot');
	src:url('fonts/ETmodules_v2.eot?#iefix') format('embedded-opentype'),
		url('fonts/ETmodules_v2.ttf') format('truetype'),
		url('fonts/ETmodules_v2.woff') format('woff'),
		url('fonts/ETmodules_v2.svg#ETmodules') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin make-divider($position) {

	&:after {
		@if $position == center {
			left: 50%;
		}
		@if $position == right {
			right: 0;
		}
		position: relative;
	    content: "";
	    display: block;
	    height: 2px;
	    width: 30px;
	    background-color: #000;
   }
}

.half-rule {
    width: 100px;
    margin: 40px 100%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}